
*.db
RenderProject/.vs/RenderProject/v17/ipch/AutoPCH/139a5ffe78be021d/MAIN.ipch
RenderProject/.vs/RenderProject/v17/Browse.VC.opendb
RenderProject/.vs/RenderProject/v17/Browse.VC.db-wal
RenderProject/.vs/RenderProject/v17/Browse.VC.db-shm
RenderProject/.vs/RenderProject/v17/Browse.VC.db
